<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Edit book</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<div>
		<form th:object="${book}" th:action="@{../save}" action="#" method="post">
		  	<input type="hidden" th:field="*{id}"/>
		  	<label for="title">Nimi</label>
			<input type="text" th:field="*{title}" />
		  	<label for="author">Tekijä</label>
			<input type="text" th:field="*{author}" />
		  	<label for="year">Vuosi</label>
			<input type="text" th:field="*{year}" />
			<label for="isbn">ISBN</label>
			<input type="text" th:field="*{isbn}" />
			<label for="price">Hinta</label>
			<input type="text" th:field="*{price}" />
									
		  	<label for="catlist">Genre</label>
			 <select id="catlist" th:field="*{category}" class="form-control">
       			<option th:each="category: ${categories}" th:value="${category.categoryId}" th:text="${category.name}"></option>
    		</select>
			
			<input type="submit" value="Save"></input>
		</form>
	</div>

</body>
</html>